/* 
#########################################################
EVERYTHING - BELOW
#########################################################
*/
/* Hidden the "status... done" text */
#lblStatusSending {
    visibility: hidden;
}

/* Fixed the padding of the dropdown menu for the upload button */
    .dropdown-menu > li > a {
        padding: 3px 9.5px;
    }

/* Replaced the deleted image in the colour swab module */
div.colorPicker-picker {
    background: linear-gradient(to bottom right, #38ff00, red) !important;
}

/* 
#########################################################
DESKTOP ONLY - BELOW
#########################################################
*/
/* Removal of 3 dotted drop down menu */
i.fa.fa-ellipsis-v {
    visibility: hidden;
}

/* Positioning of the emoticon button */
/*
.btn-emoticon {
    margin: -3px 0 0 0;
}
*/
/* 
#########################################################
MOBILE ONLY - BELOW
#########################################################
*/
@media only screen and (max-width: 768px) {
    /* Removal of "Record Session" popup */ .shepherd-step.shepherd-electromeet.shepherd-has-title.shepherd-has-cancel-link.shepherd-element.shepherd-element-attached-right.shepherd-target-attached-left.shepherd-open.shepherd-enabled.shepherd-pinned.shepherd-pinned-top.shepherd-visible {
        display: none;
    }

    /* Increased size of emoticon depiction */
    .popover-content .btn {
        padding: 0px 0px;
    }

    /* Increased size of dropdown modules */
    .left-section {
        max-height: 50%;
    }
}
    
